# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
*.code-workspace

# Test output
allure-results/
allure-report/
test-results/
playwright-report/
cucumber-report.html
cucumber-report.json

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
